@{
    ViewBag.Title = "Order1";
}
@using Shopaholics.Models

<div id="section">


    <p style="text-align: center;">
        <span style="line-height: 1.3em;">
            Order successfully placed. You will recieve your order within 15 days. Thank you for Shopping here. Stay connected! :)
        </span>
    </p>

    <form method="get" action="../Customer/Cart">
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <br />
        <input type="hidden" name="ItemId" value="@Model.ItemId" />
        <br />
        <br />
        <input type="hidden" name="CustId" value="@Model.CustId" />
        <br />
        <br />
        <input type="hidden" name="Quantity" value="@Model.Quantity" />
        <br />
        <br />
        <input type="hidden" name="Date" value="@Model.Date" />


        <br />
        <br />
        <input type="submit" name="t11" value="View Cart" />

    </form>

</div>